<nav class="navbar-default navbar-side" role="navigation" style="height: 100%; margin-top: -20px;">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu" style="display: block !important;">
            <li>
                <a class="waves-effect waves-dark" routerLink="/user/dashboard"><i class="fa fa-desktop"></i>Dashboard</a>
            </li>
            <li>
                <a class="waves-effect waves-dark" routerLink="/admin/room"><i class="fa fa-dashboard"></i> Room Management</a>
            </li>
            <li>
                <a class="waves-effect waves-dark" routerLink="/admin/rtype"><i class="fa fa-dashboard"></i> Room Type Management</a>
            </li>
            <li>
                <a class="waves-effect waves-dark" routerLink="/admin/orders"><i class="fa fa-dashboard"></i> All Bookings</a>
            </li>
            <li>
                <a class="waves-effect waves-dark" routerLink="/admin/orders/add"><i class="fa fa-dashboard"></i>Add Booking</a>
            </li>
            <li>
                <a class="waves-effect waves-dark" routerLink="/admin/product"><i class="fa fa-dashboard"></i> Billing Management</a>
            </li>
            <li>
                <a class="waves-effect waves-dark" routerLink="/admin/category"><i class="fa fa-dashboard"></i> Billing Category</a>
            </li>
            <li>
                <a class="waves-effect waves-dark" routerLink="/admin/customer"><i class="fa fa-dashboard"></i> Customer Management</a>
            </li>
            <li>
                <a class="waves-effect waves-dark" routerLink="/admin/employee"><i class="fa fa-dashboard"></i> Employee Management</a>
            </li>
            <li>
                <a routerLink (click)="logout()" class="waves-effect waves-dark"><i class="fa fa-fw fa-file"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>